<html>
  <head>
    <style type="text/css">
    code { white-space: pre; }
    </style>
  </head>
<body>
<div class="discover">
  <script>// delegate event for performance, and save attaching a million events to each anchor
    document.addEventListener('click', function(event) {
      var target = event.target;
      if (target.tagName.toLowerCase() == 'a')
      {
          var port = target.getAttribute('href').match(/^:(\d+)(.*)/);
          if (port)
          {
             target.href = window.location.origin;
             target.port = port[1];
          }
      }
    }, false);
    </script>
  <h2>Kodi szolgáltatások</h2>
  <p><a href=":631/jobs" target="_blank">Nyomtató - Printer Server (cups)</a></p>
  <p><a href=":8081/" target="_blank">Kodi web UI</a></p>
  <p><a href=":8384/" target="_blank">Syncthing</a></p>
  <p><a href=":9091/" target="_blank">Transmission UI</a></p>
  <hr> 
  <h3>Backup2Cloud log</h3>
  <code>
  {{ backup2cloud_log }}
  </code>
</div>
</body>
</html>